.TrackSection{
  text-align: center;
  .icon{
    height: 120px;
    width: 120px;
    margin-top: 52px;
    margin-bottom: 27px;
  }
  h3{
    width: 596px;
    font-family: Proxima Nova Regular;
    font-size: 41px;
    line-height: 60px;
    margin: auto;
    margin-bottom: 38px;
    color: #202020;
  }
  p{
    width: 646px;
    font-family: Proxima Nova Regular;
    font-size: 21px;
    line-height: 29px;
    margin: auto;
    margin-bottom: 96px;
    color: #424242;
  }
}