.DonationPage{
  // padding-top: 94px;
  .container{
    width: 1140px;
    margin: auto;
    .content-container{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      .icon{
        margin-top: 95px;
        margin-right: 62px;
      }
      .donation-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h1{
          // font-family: "Proxima Nova";
          font-size: 41px;
          line-height: 50px;
          color: #000;
          font-weight: bold;
          margin-top: 70px;
          margin-bottom: 18px
        }
        p{
          width: 354px;
          // font-family: "Proxima Nova";
          font-size: 21px;
          line-height: 29px;
          color: #424A52;
          margin-bottom: 70px;
        }
        h3{
          // font-family: "Proxima Nova";
          font-size: 25px;
          font-weight: bold;
          line-height: 30px;
          color: #000;
          margin-bottom: 16.5px;
         }
        input, textarea{
          width: 532px;
          border-radius: 7px;
          background-color: #EFEFEF;
          color: #000;
          padding: 18px;
          border: none;
          outline: none;
          margin-bottom: 36px;
          box-sizing: border-box;
        }
        .form-group{
          display: flex;
          input{
            width: 256px;
            &:first-child{
              margin-right: 20px;
            }
          }
        }
        .radio-group{
          width: 532px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 83.2px;
        }
        textarea{
          resize: none;
          height: 150px;
          // font-family: "Proxima Nova";
          font-size: 16px;
          line-height: 20px;
        }
        button{
          width: 170px;
          height: 45px;
          margin-top: 94px;
          margin-bottom: 104px;
          background-color: #47B462;
          border-radius: 3px;
          color: #fff;
          border: none;
          outline: none;
        }
      }
    }
  }
}