.AmountSelector{
  height: 55px;
  padding: 0 35px;
  background-color: #EFEFEF;
  color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Proxima Nova";
  font-size: 15px;
  line-height: 18px;
  box-sizing: border-box;
  
}
.active-selector{
  background-color: #47B462;
  color: #fff;
}
.not-filter{
  width: 99px;
  padding: 0 5px;
  height: 49.81px;
}