.Banner{
  position: relative;
  height: 535px;
  width: 100%;
  background-image: url('https://res.cloudinary.com/dx0nauane/image/upload/v1594423845/mDoc/mdoc_image/Mask_Group_2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .container{
    width: 1140px;
    margin: 0 auto;
    padding-top: 192.5px;
    .highlight-text{
      font-family: Proxima Nova Regular;
      font-size: 48px;
      color: #fff;
      font-weight: bold;
    }
    .secondary{
      margin-top: 31px;
      margin-bottom: 53.5px;
    }
    button{
      height: 44px;
      width: 152px;
      background-color: #E5222A;
      border: none;
      outline: none;
      color: #fff;
      border-radius: 2px;
    }
  }
}